.main__wrapper {
    padding-top: 150px;
    padding-bottom: 200px;  
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    &__description {
        &--title {
            margin-bottom: 8%;
            &__top {
                text-transform: uppercase;
                background: linear-gradient(to right, #d1d1d1 18%, #ff3d02 55%);
                font-size: 58px;
                line-height: 55px;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0;
            }
            &__bottom {
                font-size: 24px;
                background: linear-gradient(to right, #d1d1d1 18%, #ff3d02 55%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0px;
            }
        }

        &--line {
            position: absolute;
            background-image: url('../../assets/image/line.png');
            width: 450px;
            height: 100px;
            background-repeat: no-repeat;
            right: -454px;
            top: 50%;
            @media (max-width: 1199px) {
                display: none;
            }
        }
        &--button {
            background: linear-gradient(to right bottom, #09213d, #3969a6, #3969a6, #09213d);
            padding:  2px;
            border: none;
            position: relative;
            cursor: pointer;

            &__title {
                background-color: #090c0e;
                color: #d1d1d1;
                padding: 10px 30px;
                margin: 0;

            }
            &::before {
                position: absolute;
                content: "";
                bottom: 0px;
                left: 0px;
                border: solid #d1d1d1;
                border-width: 0 0 3px 3px;
                display: inline-block;
                padding: 3px;
                transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);
            }

            &::after {
                position: absolute;
                content: "";
                top: 0px;
                right: 0px;
                border: solid #d1d1d1;
                border-width: 3px 3px 0 0;
                display: inline-block;
                padding: 3px;
                transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);
            }
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        width: 341px;
        gap: 15px;

        &--card {
            width: 163px;
            height: 163px;
            display: flex;
            flex-direction: column;
            color: #d1d1d1;
            align-items: center;
            padding: 15px;
            box-sizing: border-box;
            cursor: pointer;
            user-select: none;
            // background-color: rgba(255, 255, 255, 0.15);
            // background-color: transparent;

            &:first-child {
                background: linear-gradient(to right bottom, transparent 50%, rgba(255, 255, 255, 0.07));
            }
            
            &:nth-child(2) {
                background: linear-gradient(to left bottom, transparent 50%, rgba(255, 255, 255, 0.07));
            }

            &:nth-child(3) {
                background: linear-gradient(to right top, transparent 50%, rgba(255, 255, 255, 0.07));            }

            &:nth-child(4) {
                background: linear-gradient(to left top, transparent 50%, rgba(255, 255, 255, 0.07));
            }

            &__small {
                font-size: 16px;
                margin: 0;

                &:first-child {
                    margin-bottom: 18px;
                }
            }

            &__big {
                margin: 0;
                font-size: 58px;
                font-weight: 700;
                > span {
                    font-size: 15px;
                }
            }
            
        }
    }
}